.card {
  width: 100%;
  /*box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .24), 0 1px 5px 0 rgba(0, 0, 0, .22);*/
  box-shadow: 0 1px 0 #f1f1f1;
  height: auto;
  position: absolute;
  animation: fadein .5s;
  will-change: transform;
  transition: transform .2s;
}

.card-inner {
  padding-left: 15px;
  width: calc(100% - 15px);
}

.card-header {
  color: #656565;
  cursor: pointer;
  height: 44px;
  line-height: 44px;
}

.card-body {
  display: none;
  animation: showCardContent 100ms ease-out both;
}

.card-title {
  width: calc(81%);
  height: 100%;
}

.card-title p {
  font-family: Diaria Light Pro, sans-serif;
  font-size: 15px;
  font-weight: 300;
  width: 100%;
  max-width: 525px;
  overflow: hidden;
  opacity: 0.6;
}

.card-actions {
  width: 19%;
  height: 100%;
  min-width: 131px;
}

.card-content {
  line-height: 1.43em;
  height: auto;
  padding-right: 15px;
}

.card-footer {
  border-top: 1px solid #e8e8e8;
  margin-right: 15px;
  margin-top: 15px;
  height: 50px;
}

.card-content-actions {
  width: 100%;
  height: 100%;
}

.card-position-actions {
  width: 30%;
  height: 100%;
}

.card-position-actions fa {
  color: #e2534f;
  font-size: 15px;
}

.card-position-actions fa i {
  font-size: 20px;
}

.btn-content-action {
  font-size: 14px;
  line-height: 18px;
  vertical-align: baseline;
  color: #0070e0;
  padding: 0 3px;
  cursor: pointer !important;
}

.seperate-dot {
  color: rgb(27, 39, 51);
}

.card-expanded {
  background-color: #FFFFFF;
  line-height: 20px;
  margin-top: -44px;
  width: 100%;
  z-index: 100;
  overflow-x: hidden;
  height: auto;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  border: solid 1px #c1c7cd;
}

.card-expanded .card-title {
  visibility: hidden;
}

.card-expanded .card-body {
  display: block;
  animation: showCardContent 100ms ease-out both;
}

@keyframes showCardContent {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

.draft-icon {
  width: 60px;
  height: 100%;
  background: url("../../../../assets/images/draft - small.png") no-repeat left center;
  display: none;
}

.card-draft .draft-icon {
  display: block;
}

.card-draft .card-title {
  width: calc(81% - 60px) !important;
}

.collapsed {
  transform: rotate(180deg);
  transition: transform 0.5s;
}

.card-header-button {
  transition: transform 0.5s;
}
