.paragraph-wrapper {
  text-align: left;
}

.paragraph-wrapper p {
  position: relative;
}

.main-paragraph {
  padding-right: 5%;
}

.btn-add-card {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  animation: fadein .5s;
  color: #637282;
}
