.practical-card {
  min-width: 800px;
  min-height: 450px;
  transform-style: preserve-3d;
  transition: transform 1s;
  transform-origin: right center;
}

.practical-card .card-side {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 800px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 4px;
  position: absolute;
}

.flippable .card-side {
  backface-visibility: hidden;
}

.practical-card .card-side {
  display: flex;
  flex-direction: column;
  max-width: 800px;
}

.front {
  z-index: 500;
}

.back {
  z-index: 200;
}

.practical-card header {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  color: #444;
}

.practical-card button:hover {
  color: #e2534f;
}

.practical-card .card-content {
  width: 94%;
  height: auto;
  padding: 3%;
  color: #000000;
  word-wrap: break-word;
  word-break: normal;
  border: none;
  outline: none;
  resize: none;
  z-index: 0;
  font-family: Diaria Light Pro, sans-serif;
  line-height: 1.5em;
  font-size: 21px;
}

.practical-card .front {
  background: #ffffff;
  border-radius: 4px;
}

.practical-card .back {
  background: #ffffff;
  border-radius: 4px;
}

.rotateX180 {
  transform: rotateX(-180deg);
}

.flipped {
  transform: rotateX(180deg);
  transition: transform 1s;
}

.expanded .front {
  transform: translateX(-52%);
  transition: transform 0.5s;
}
.expanded .back {
  transform: translateX(52%);
  transition: transform 0.5s;
}

.expandable {
  transition: transform 0.5s;
}
