@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
  margin: 0;
  font-family: Lato, sans-serif;
  font-weight: 300;
  overflow: hidden;
}

.page-scroll-wrapper {
  overflow-x: hidden;
  overflow-y: scroll;
  /*height: calc(100vh - 64px);*/
  /*height: 100vh;*/
}

.wrapper {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background-color: #f6f6f6;
}

.lang-left .mat-slide-toggle-bar,
.lang-right .mat-slide-toggle-bar {
  background-color: rgba(233, 30, 99, .5);
}

.lang-left .mat-slide-toggle-thumb,
.lang-right .mat-slide-toggle-thumb {
  background-color: #e91e63;
}

.lang-left.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar,
.lang-right.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: rgba(165, 214, 167, 0.5);
}

.lang-left.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb,
.lang-right.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #a5d6a7;
}

/*.lang-right .mat-slide-toggle-bar {*/
/*background-color: rgba(165, 214, 167, 0.5);*/
/*}*/

/*.lang-right .mat-slide-toggle-thumb {*/
/*background-color: #a5d6a7;*/
/*}*/

/*.lang-right.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {*/
/*background-color: rgba(233, 30, 99, .5);*/
/*}*/

/*.lang-right.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {*/
/*background-color: #e91e63;*/
/*}*/

/*.txt-title:focus .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-placeholder, .mat-form-field-empty.mat-form-field-placeholder {*/
/*display: none;*/
/*}*/

/*.mat-input-container.app-input-no-underline .mat-input-underline*/

.editor-wrapper .mat-input-underline.mat-form-field-underline,
.transcript-wrapper .mat-input-underline.mat-form-field-underline {
  display: none;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-header-button.mat-icon-button {
  width: 32px;
  height: 32px;
  line-height: 32px;
}

.card-position-actions fa i {
  font-size: 20px;
}

.editor-wrapper .selected,
.writing-dialog .front .selected {
  /*background-color: #3498DB;*/
  background-image: linear-gradient(to bottom, rgba(125, 255, 179, 0.8), rgba(125, 255, 179, 0.8));
}

.editor-cards .selected,
.writing-dialog .back .selected {
  background-image: linear-gradient(to bottom, rgba(146, 233, 255, 0.8), rgba(146, 233, 255, 0.8));
}

/*.writing-dialog .front .selected {*/
/*!*background-color: #3498DB;*!*/
/*background-image: linear-gradient(to bottom, rgba(125, 255, 179, 0.8), rgba(125, 255, 179, 0.8));*/
/*}*/

/*.writing-dialog .back .selected {*/
/*background-image: linear-gradient(to bottom, rgba(146, 233, 255, 0.8), rgba(146, 233, 255, 0.8));*/
/*}*/

/*.card-expanded .card {*/
/*background-color: #FFFFFF;*/
/*}*/

.card-footer .mat-icon-button {
  width: 32px;
  height: 32px;
  line-height: 32px;
}

.hidden {
  display: none !important;
}

.doc-context-menu .context-menu {
  /*cursor: pointer;*/
  /*position: absolute;*/
  /*border-radius: 2px;*/
  /*width: 150px;*/
  /*height: 200px;*/
  /*background-color: rgba(255, 255, 255, 0.9);*/
  /*background-color: rgba(52, 152, 219, 0.1);*/
  /*box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 4px #555;*/
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .24), 0 1px 5px 0 rgba(0, 0, 0, .22);
  /*animation-duration: 2s !important;*/
  /*animation-iteration-count: 1;*/
  /*transition: 2s !important;*/
}

.context-menu .mat-menu-content {
  /*background-color: rgba(52, 152, 219, 0.1) !important;*/
}

.context-menu .mat-menu-item-highlighted:not([disabled]), .mat-menu-item:hover:not([disabled]) {
  /*background: #3498DB;*/
  background-color: rgba(52, 152, 219, 0.3) !important;
}

.context-menu .mat-menu-item:focus:not([disabled]) {
  background-color: #FFFFFF;
}

.editable-content .mat-form-field-infix {
  padding: 0 !important;
  border: 0 !important;
}

.editable-content .mat-input-container {
  width: 100% !important;
}

.editable-content .mat-input-wrapper {
  padding: 0 !important;
}

.unable-select {
  -webkit-user-select: none;
  -khtml-user-drag: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.writing-dialog mat-dialog-container {
  background-color: transparent;
  /*transform: none;*/
  /*opacity: 1;*/
  display: flex;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}

.backdrop-writing-practice {
  /*background-color: #000000;*/
  opacity: 1 !important;
  background-color: rgba(0,0,0,.85) !important;
  /*-webkit-filter: blur(2px);*/
  /*-moz-filter: blur(2px);*/
  /*-o-filter: blur(2px);*/
  /*-ms-filter: blur(2px);*/
  /*filter: blur(2px);*/
}

app-writing-practice-dialog {
  width: 100%;
}
