@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
  margin: 0;
  font-family: Lato, sans-serif;
  font-weight: 300;
  overflow: hidden;
}

.page-scroll-wrapper {
  overflow-x: hidden;
  overflow-y: scroll;
  /*height: calc(100vh - 64px);*/
  /*height: 100vh;*/
}

.wrapper {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background-color: #f6f6f6;
}

.lang-left .mat-slide-toggle-bar,
.lang-right .mat-slide-toggle-bar{
  background-color: rgba(233, 30, 99, .5);
}

.lang-left .mat-slide-toggle-thumb,
.lang-right .mat-slide-toggle-thumb{
  background-color: #e91e63;
}

.lang-left.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar,
.lang-right.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar{
  background-color: rgba(165, 214, 167, 0.5);
}

.lang-left.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb,
.lang-right.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb{
  background-color: #a5d6a7;
}

/*.lang-right .mat-slide-toggle-bar {*/
  /*background-color: rgba(165, 214, 167, 0.5);*/
/*}*/

/*.lang-right .mat-slide-toggle-thumb {*/
  /*background-color: #a5d6a7;*/
/*}*/

/*.lang-right.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {*/
  /*background-color: rgba(233, 30, 99, .5);*/
/*}*/

/*.lang-right.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {*/
  /*background-color: #e91e63;*/
/*}*/

/*.txt-title:focus .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-placeholder, .mat-form-field-empty.mat-form-field-placeholder {*/
  /*display: none;*/
/*}*/

/*.mat-input-container.app-input-no-underline .mat-input-underline*/

.editor-wrapper .mat-input-underline.mat-form-field-underline{
  display: none;
}
